<!DOCTYPE html>
<html>
  <head>
    <title>MultirotorNotification</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="navbar navbar-dark bg-dark">
      <!-- Navbar content -->
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
